<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PsyCenter.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <PsyCenter.My.MySettings>
            <setting name="SizeH" serializeAs="String">
                <value>175</value>
            </setting>
            <setting name="SizeW" serializeAs="String">
                <value>612</value>
            </setting>
            <setting name="blah" serializeAs="String">
                <value>9</value>
            </setting>
        </PsyCenter.My.MySettings>
    </userSettings>
</configuration>